<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Galeria</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<body class="bg1">
    <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/draw">Dibuixa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trash">Paperera</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <h1>Galeria de Dibuixos</h1>
    <div class="row">
        <div class="col-6 col-md-4">
            <h2>Els teus dibuixos, [[${userName}]]</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Mostrar dibuixos
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li th:each="drawing : ${userDrawings}">
                        <a th:href="@{/view(currentDrawingId=${drawing.id})}" class="dropdown-item" th:text="${drawing.name}"></a>
                    </li>
                </ul>
            </div>

            <div>
                <a th:href="@{/trash}" class="btn btn-secondary">Paperera</a>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <h2>Dibuixos Publics</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Mostrar dibuixos
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li th:each="drawing : ${allDrawings}">
                        <a th:href="@{/view(currentDrawingId=${drawing.id})}" class="dropdown-item" th:text="${drawing.name}"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <h2>Compartit amb Tu</h2>
        </div>
    </div>

</body>
</html>