<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div class="center">
        <h2>Iniciar Sesió</h2>
        <form action="/login" method="post">
            <p>Usuari: <input name="userName" type="text"></p>
            <p>Contrasenya: <input name="password" type="password"></p>
            <p> <input type="submit" value="Envia"></p>
        </form>
        <p>No tens usuari? <a href="/registre">Registrat!</a></p>
    </div>
</body>
</html>