<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Registres</title>
</head>
<body>
<div class="center">
    <h2>Registrat</h2>
    <form action="/registre" method="post">
        <p>Nou Usuari: <input name="userName" type="text"></p>
        <p>Nova Contrasenya: <input name="password" type="password"></p>
        <p> <input type="submit" value="Envia"></p>
    </form>
    <p>Ja tens usuari? <a href="/login">Inicia Sesió</a></p>
</div>
</body>
</html>