<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Compartir</title>
</head>

<body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/draw">Dibuixa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trash">Paperera</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <div>
        <h1>Compartir amb...</h1>
        <p>Escriu el nom d'usuari</p>
        <p>Si vols compartir a varis usuaris, no usis coma entre els noms: Joan123 Pep99 Miki21</p>

        <form action="/share" method="post" >
            <input type="hidden" name="currentDrawingId" th:value="${currentDrawingId}" />
            <p>Usuari/s: <input name="shareUsers" type="text"></p>
            <p>Permis per editar
                <input type="checkbox" id="canEdit" name="canEdit" value="true"/>
            </p>
            <p><input type="submit" value="Confirmar"></p>
        </form>
    </div>

</body>
</html>